@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.my-main-bg-color {
    background-color: #133a75;
    height: 1350px;
    width: 700px;
    margin-bottom: 5px;
}

.my-corousel-size {
    height: 40vh;
    width: 700px;
    background-size: cover;
}

.page-align {
    margin-left: 400px;
}

.my-heading-main1 {
    color: #02a7d1;
    font-family: "Monoton";
    font-size: 30px;
    text-decoration: overline;
}

.my-heading-main2 {
    color: #dc2c5a;
    font-family: "Monoton";
    font-size: 30px;
    text-decoration: overline;
}

.my-heading1 {
    color: white;
    font-family: "monoton";
    font-size: 20px;
    padding: 20px;
    text-decoration: overline;
}

.main-para {
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    padding-left: 16px;
    padding-top: 30px;
    background-color: #00000020;
    border-radius: 30px;
    padding-bottom: 30px;
}

.login-button {
    margin: 4px;
    margin-left: 140px;
    margin-top: 16px;
}

.signin-button {
    margin: 4px;
    margin-top: 16px;
}

.main-heading-margin {
    margin-top: 20px;
    margin-left: 20px;
}

.my-lastone-bg {
    background-color: #e6f6ff;
}

.my-rohit-image1 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLzZkgBSUGHdV10BmST55piz__peQPmrYnZ6o-Co1MY-EpQfpdG745tEVeSnuan7jwUGI&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rohit-bg {
    background-color: #02a7d1;
    height: 350px;
    width: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.edit-bat-size {
    font-size: 30px;
    text-align: end;
}

.edit-ball-size {
    font-size: 18px;
    text-align: end;
}

.edit-rohit-name {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    margin-left: 8px;
    margin-top: 5px;
}

.edit-jaiswal-name {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    margin-left: 8px;
    margin-top: 5px;
}

.edit-surya-name {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    margin-left: 8px;
    margin-top: 5px;
}

.edit-jadeja-name {
    font-size: 19px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    margin-left: 8px;
    margin-top: 5px;
}

.edit-strick-rate {
    font-size: 13px;
    font-family: "Roboto";
    color: white;
    margin-left: 8px;
}

.edit-position {
    font-size: 45px;
    font-family: "Monoton";
    font-weight: bold;
    color: #133a75;
    text-align: center;
}

.edit-career-button {
    margin-left: 20px;
}

.my-rohit-image2 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfDwcCGyA0BKqCQcvffVlv2jkby335FBfAaFAG4rq6aefppIXt6W0mp8HRpqRBM_9j3sg&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image3 {
    background-image: url("https://preview.redd.it/virat-kohli-photoshoot-for-the-t20-world-cup-2024-v0-57k9umxike4d1.jpeg?auto=webp&s=e50dc6a8a426c2c48df7a1a264a48a36f2128448");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image4 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz1oOjezrLUv6IU7pMttI0q_s9OYcYaXX9O37LLPIqTKTXkgPUf8WzIxEFBlTSOVMAGMU&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image5 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSej6T10N0p12eLe20dIthV7-ZeSlNnzbduTtjVb-MPEesQWz7MqjzVXv8qUJu3QQ5816w&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image6 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS41ywVkxeVUY6Ws850_pW9zlQsuQWmuyIPTBYdkCu6cf6kGL0xFNRHYvsPMy4HPalaK6g&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image7 {
    background-image: url("https://img.mensxp.com/media/content/2024/May/Photo-by-ICC-on-May-29-2024-May-be-an-image-of-1-person-playing-cricket-sports-equipment-sportswear-and-text-that-says-NDIA_6658790f36c55.jpeg?w=720&h=1280&cc=1");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image8 {
    background-image: url("https://preview.redd.it/why-dube-in-the-playing-xi-v0-jrq8btxsz18d1.jpeg?auto=webp&s=795a9d72a4e3adbcaf166b34fd61fb183f90e1dd");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image9 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81i2fudEF8-6VU06ZSBlm9RlURaMCgganIvRO3eBbLXIYjQSxJecB1fCzIfcmVxBIp6Q&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image10 {
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSF8mftEFYacNKEc4zw3wCRtje3qZBDXoAducCMQgC504xu_By2");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image11 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWbYFQAlNdgpCx-tBXS8C6CCZBgWRi_JLqvmLhd40Vy4uDPA8JCLUlorlP1wJDEnuMmBM&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image12 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStDWAPVErZXLSlTCobMODZ5UZ4dLtCoNnmRxZeTn6d5dycQxjipJbsd5SCEuRLW0MzXPg&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image13 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4S2-JQD_077aAV0444VBfP3niPOzx9qO_l7a6Kekuxl7k9VDYD5NGQWCxXBBpltwiO2w&usqp=CAU");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image14 {
    background-image: url("https://images.icc-cricket.com/image/upload/t_ratio1_1-size20/prd/wdgb5mb1bjzxnkbmpjze");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.my-rohit-image15 {
    background-image: url("https://images.mid-day.com/images/images/2024/may/miyansiraj.jpg");
    height: 150px;
    width: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.player-box-margin1 {
    margin-top: 40px;
}

.player-box-margin2 {
    margin-top: 40px;
}

.bg-dravid {
    background-color: #dc2c5a;
    height: 450px;
    width: 300px;
    border-radius: 10px;
}

.my-dravid-image {
    height: 150px;
    width: 300px;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.my-heading3 {
    color: white;
    font-family: "monoton";
    font-size: 20px;
    padding-top: 8px;
    padding-left: 8px;
}

.edit-dravid-name {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    margin-left: 8px;
}

.edit-dravid-para1 {
    font-size: 15px;
    font-family: "Roboto";
    color: white;
    margin-left: 8px;
}

.edit-dravid-para2 {
    font-size: 13px;
    font-family: "Roboto";
    color: white;
    margin-left: 8px;
}

.align-dravid-button {
    text-align: center;
}

.dravid-margin {
    margin-left: 32px;
}

.edit-dravid-three-dots {
    text-align: center;
    color: white;
    font-size: 30px;
}

.my-shedule {
    margin-top: 30px;
}

.my-blue-belt {
    background-color: #1C5D9C;
    height: 230px;
    width: 700px;
    margin-bottom: 10px;
}

.my-black-card {
    background-color: #31363F;
    height: 200px;
    width: 320px;
    padding: 5px;
}

.edit-india-flag {
    height: 20px;
    width: 35px;
    background-size: cover;
    border-radius: 2px;
}

.indai-name-edit {
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto";
    color: white;
    margin: 2px;
}

.vs-edit {
    font-size: 23px;
    font-family: "Roboto";
    color: white;
    font-weight: bold;
}

.score-edit {
    font-size: 15px;
    font-family: "Roboto";
    color: white;
}

.padding-flag {
    padding-left: 40px;
}

.margin-flag {
    margin-top: 15px;
}

.edit-match-result {
    font-size: 16px;
    font-family: "Roboto";
    color: white;
    text-align: center;
}

.edit-match-day {
    font-size: 14px;
    font-family: "Roboto";
    color: white;
    text-align: center;
    background-color: #DA2C5A;
}

.edit-watch-button {
    margin: 2px;
}

.edit-watch-padding {
    padding-top: 12px;
    background-color: #0A0A0A;
    padding-bottom: 12px;
    padding-left: 45px;
}

.margin-black-card {
    margin: 14px;
    margin-left: 20px;
}

.winner-list-border {
    border-color: #02A7D1;
    border-width: 4px;
    height: 120px;
    width: 150px;
    border-style: dashed;
    border-radius: 15px;
    margin: 12px;
}

.winner-list-image {
    height: 70px;
    width: 120px;
    margin: 13px;
}

.winner-year {
    font-size: 17px;
    background-color: #02A7D1;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #133A75;
    width: 90px;
    margin-left: 21px;
    margin-top: 5px;
}

.bg-corousel {
    background-color: #00000080;
}

.edit-view-more {
    background-color: #DA2C5A;
    height: 60px;
    width: 700px;
    text-align: center;
    padding-top: 10px;
}

.edit-read-history {
    text-align: center;
    padding-top: 10px;
}

.main-para2 {
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    padding-left: 16px;
    padding-top: 30px;
    background-color: #00000020;
    border-radius: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.my-heading11 {
    color: #02a7d1;
    font-family: "Monoton";
    font-size: 30px;
    padding-left: 60px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-yt-video {
    height: 220px;
    width: 700px;
    background-color: #DA2C5A;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 30px;
}

.edit-yt-heading {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 5px;
}

.edit-yt-para {
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 5px;
}

.edit-read-more {
    padding-left: 15px;
    margin-bottom: 10px;
}

.card-news {
    background-color: white;
    height: 370px;
    width: 220px;
    border-radius: 10px;
    margin: 5px;
}

.card-news-bg {
    background-color: #1C5D9C;
    height: 450px;
    width: 700px;
    padding-top: 8px;
}

.card-news-img {
    height: 140px;
    width: 220px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-news-heading {
    font-family: "Roboto";
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 4px;
}

.card-news-para {
    font-family: "Roboto";
    font-size: 14px;
    color: black;
    color: #7b8794;
    padding: 4px;
}

.card-merch-bg {
    height: 180px;
    width: 500px;
    background-color: #31363F;
    margin-top: 15px;
    padding: 8px;
    padding-left: 20px;
}

.card-merch-image {
    height: 160px;
    width: 130px;
    background-size: cover;
    margin-left: 85px;
}

.merch-heading1 {
    color: white;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    padding: 5px;
}

.merch-heading2 {
    color: white;
    font-size: 13px;
    font-family: "Roboto";
    background-color: #DA2C5A;
}

.button-buy-now1 {
    margin: 2px;
}

.button-buy-now2 {
    margin: 2px;
    margin-left: 20px;
}

.merch-heading3 {
    color: white;
    font-size: 13px;
    font-family: "Roboto";
}

.card-merch-bg2 {
    height: 180px;
    width: 500px;
    background-color: #31363F;
    margin-top: 15px;
    padding: 8px;
    margin-left: 200px;
}

.card-merch-image2 {
    height: 160px;
    width: 130px;
    background-size: cover;
    margin-left: 2px;
}

.merch-heading1-1 {
    color: white;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
}

.merch-heading2-1 {
    color: white;
    font-size: 13px;
    font-family: "Roboto";
    background-color: #DA2C5A;
    margin-left: 20px;
}

.merch-heading3-1 {
    color: white;
    font-size: 13px;
    font-family: "Roboto";
    margin-left: 20px;
}

.card-news-bg2 {
    background-color: #1C5D9C;
    height: 550px;
    width: 700px;
    padding-top: 8px;
}

.bg-more-merch {
    background-color: #00000070;
    height: 70px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-flag2 {
    margin: 4px;
}

.margin-flag3 {
    margin: 4px;
    margin-left: 30px;
}

.margin-flag3-1 {
    margin: 4px;
    margin-left: 230px;
}

.my-membership {
    border-color: #02A7D1;
    border-width: 4px;
    height: 250px;
    width: 680px;
    border-style: dashed;
    border-radius: 15px;
    margin: 12px;
}

.my-membership-heading {
    font-size: 25px;
    font-family: "Roboto";
    color: #02A7D1;
    width: 490px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bolder;
}

.my-heading-main1-1 {
    color: #02a7d1;
    font-family: "Monoton";
    font-size: 30px;
    text-decoration: overline;
    margin-left: 50px;
}

.edit-login {
    font-size: 15px;
    font-family: "Roboto";
    color: white;
    text-decoration: underline;
}

.align-login {
    text-align: center;
}

.align-joinnow-button {
    padding-top: 90px;
    padding-left: 30px;
}

.edit-courtesy {
    height: 70px;
    width: 100px;
    background-size: cover;
    margin: 5px;
}

.bg-more-merch2 {
    background-color: #00000040;
    height: 120px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.align-courtesy {
    padding-left: 180px;
    padding-top: 8px;
}

.edit-congrats1 {
    font-family: "Caveat";
    color: #DA2C5A;
    font-size: 40px;
    font-weight: bold;
    margin-left: 120px;
}

.edit-congrats2 {
    font-family: "Caveat";
    color: #02A7D1;
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
}

.align-login2 {
    text-align: center;
    padding-top: 30px;
}

.edit-three-dots {
    color: white;
    font-size: 50px;
    font-family: "Roboto";
    margin-left: 335px;
    margin-bottom: 10px;
}

.bg-end {
    background-color: #0A0A0A;
    height: 586px;
    width: 700px;
}

.edit-courtesy-spacing {
    margin-top: 20px;
}

.edit-end-heading1 {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.edit-end-heading2 {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: underline;
}

.edit-end-heading2-1 {
    color: white;
    font-family: "Roboto";
    width: 600px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: underline;
}

.edit-end-heading3 {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    margin-left: 25px;
}

.edit-end-heading4 {
    padding: 20px;
    width: 300px;
}

.edit-margin-contact {
    margin-left: 90px;
}

.edit-slogan {
    margin-bottom: 50px;
}